{{#each data.owned.armors as |armor id|}}
{{#if armor.data.equipped}}
<li class="gear-card">
    <header class="flexrow card-header">
        <a class="card-name">{{armor.name}} - {{localize "SWADE.Armor"}}: {{armor.data.armor}}</a>
    </header>
    {{#unless (isEmpty armor.data.notes)}}
    <div class="card-content">
        <div>{{armor.data.notes}}</div>
    </div>
    {{/unless}}
</li>
{{/if}}
{{/each}}