.swade.sheet.actor {
  min-width: 600px;
  min-height: 768px;

  // Profile Image
  .profile-img-container {
    width: 150px;
    max-width: 150px;
    height: 150px;
    margin-right: 2px;
    img {
      margin: 0;
      border: none;
    }
    .profile-img {
      height: inherit;
      width: inherit;
      object-fit: contain;
      cursor: pointer;
    }
    .fade-in-05 {
      opacity: 0.5;
    }
  }

  // Sheet Header
  .sheet-header {
    & > * {
      flex: none;
    }

    //Actor Name
    .charline {
      height: 51px;
      width: 100%;
      display: inline-flex;
      .charname {
        height: 100%;
        margin: 0;
        input {
          width: 100%;
          height: 100%;
          margin: 0;
          border: 1px solid transparent;
        }
      }
      .conviction {
        width: 20%;
        text-align: center;
        margin-left: 4px;
        .convction-toggle {
          padding-top: 6px;
        }
      }
    }

    // Stats Fiels
    .header-fields {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex: 1;
      padding: 5px 0px;
    }

    .header-stats {
      align-content: space-around;
      padding-left: 0;

      div {
        border: 1px solid transparent;
        margin: 2px 0;
        padding: 0 3px;
        justify-content: center;
        label {
          padding-left: 3px;
        }
      }
    }
  }

  .sheet-body {
    height: auto;
    .tab {
      height: 100%;
    }

    //Editor
    .editor {
      border: $section-border;
      height: 300px;
      width: 100%;
    }

    .header-field {
      @extend %header-field;
    }

    .vitals {
      text-align: center;
    }

    .attributes {
      margin: 5px 0;
      padding: 2px;
      //Attributes
      .attributes-list {
        .attribute + .attribute {
          border-left: 1px solid $anthracite;
        }
        .attribute {
          .attribute-label {
            text-align: center;
            font-weight: bold;
          }
          select {
            margin: 0 3px;
            height: 28px;
            @extend %standalone-input-field;
          }
          input {
            margin: 0 3px;
            height: 28px;
            @extend %standalone-input-field;
          }

          a.attribute-control {
            border: none;
          }
        }
      }
    }

    //Summary
    .skills {
      margin: 5px 0;
      padding: 2px;
      max-width: 288px;

      // Skills
      .skills-list {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    //Gear
    .gear {
      margin: 5px 0px 0px 0px;
      padding: 2px;
      .gear-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          > * {
            background: transparent;
          }
        }
        .gear-card {
          margin: 5px 5px;
          border: $decorative-line;
          border-radius: 2px;
          .card-header {
            padding: 5px;
            background: rgba(0, 0, 0, 0.2);
            text-align: center;
          }
          .card-content {
            border-top: $decorative-line;
            background: rgba(255, 255, 255, 0.05);
            line-height: 18px;
            padding: 5px;
            overflow: hidden;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            div {
              flex-grow: 1;
              flex-basis: 130px;
            }
          }
          .chips {
            span {
              padding-bottom: 8px;
            }
            display: flex;
            flex-direction: row;
            justify-content: center;
            .chip {
              padding: 0px 5px 5px 5px;
              font-size: 10px;
              .chip-content {
                padding: 2px 5px;
                height: auto;
                background-color: #bbb;
                border-radius: 25%;
                display: inline-block;
              }
            }
          }
        }
      }
    }

    // Powers
    .powers {
      margin: 3px 0;
      .powers-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .power {
          margin: 2px;
          flex-grow: 1;
          flex-basis: 160px;
          border: $decorative-line;
          border-radius: 2px;

          .power-header {
            padding: 5px;
            background: rgba(0, 0, 0, 0.05);
            border-bottom: $decorative-line;
            text-align: center;
          }
          .power-content {
            margin: 0 3px;
            line-height: 24px;
            padding: 5px;
            max-height: 160px;
            overflow-y: auto;
          }
        }
      }
    }

    .biography {
    }
  }
}
