.sidebar-tab .directory-list .directory-item {
  .wildcard-icon {
    width: 32px;
    height: 32px;
    object-fit: scale-down;
    object-position: center;
    margin: 0;
    margin-right: 2px;
    vertical-align: middle;
  }
}
